*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: white;
    color: black;
    transition: 0.3s;
}

.h1{
    text-align: center;
    margin: 30px 0;
}

.container{
    width: 750px;
    margin: 0 auto;
}

.controls{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 10px;
}

.input{
    width: 80%;
    height: 100%;
    padding-left: 16px;
    font-size: 16px;
}

.send{
    width: 64px;
    background-color: #6c63ff;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.note{
    width: 100%;
    padding: 15px 0;
    border-bottom: 2px solid #6c63ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.note:hover{
    border-bottom: 4px solid red;
}

.knopki{
    display:flex;
    gap: 10px;
    cursor: pointer;
}

.darklight{
    width: 40px;
    height: 40px;
    background-color: #1105ff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.dark-mode{
    background-color: #121212;
    color: white;
}

.dark-mode .input{
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #444;
}

.dark-mode .note{
    border-bottom: 2px solid #444;
}

.dark-mode .send{
    background-color: #333;
}

.dark-mode .darklight{
    background-color: #ffd000;
    color: black;
}
